<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="nt-drawer__content">
    <StackLayout row="0" class="nt-drawer__header">
      <Image class="nt-drawer__header-image fas t-36" src="font://&#xf2bd;"></Image>
      <Label class="nt-drawer__header-brand" text="User Name"></Label>
      <Label class="nt-drawer__header-footnote" text="username@mail.com"></Label>
    </StackLayout>

    <ScrollView row="1" class="nt-drawer__body">
      <StackLayout>
        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/home')"
          (tap)="onNavItemTap('/home')"
        >
          <Label col="0" text="&#xf015;" class="nt-icon fas"></Label>
          <Label col="1" text="Home" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/events')"
          (tap)="onNavItemTap('/events')"
        >
          <Label col="0" text="&#xf073;" class="nt-icon far"></Label>
          <Label col="1" text="Kalendarium" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/guests')"
          (tap)="onNavItemTap('/guests')"
        >
          <Label col="0" text="&#xf0c0;" class="nt-icon fas"></Label>
          <Label col="1" text="Goście" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/budget')"
          (tap)="onNavItemTap('/budget')"
        >
          <Label col="0" text="&#xf53a;" class="nt-icon fas"></Label>
          <Label col="1" text="Finanse" class="p-r-10"></Label>
        </GridLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/service-providers')"
          (tap)="onNavItemTap('/service-providers')"
        >
          <Label col="0" text="&#xf2bb;" class="nt-icon far"></Label>
          <Label col="1" text="Wizytówki" class="p-r-10"></Label>
        </GridLayout>

        <StackLayout class="hr"></StackLayout>

        <GridLayout
          columns="auto, *"
          class="nt-drawer__list-item"
          [class.-selected]="isComponentSelected('/settings')"
          (tap)="onNavItemTap('/settings')"
        >
          <Label col="0" text="&#xf013;" class="nt-icon fas"></Label>
          <Label col="1" text="Settings" class="p-r-10"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
