<form [formGroup]="form">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field>
      <mat-label>Imię i nazwisko</mat-label>
      <input matInput placeholder="Jan Kowalski" formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Uwagi</mat-label>
      <textarea matInput formControlName="adnotation"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="isTravelling">Przyjezdny</mat-checkbox>
    <mat-form-field>
      <mat-label>Status gościa</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of guestStatusOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ze strony</mat-label>
      <mat-select formControlName="side">
        <mat-option *ngFor="let option of guestSideOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
