html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-header .spacer {
  flex: 1 1 auto;
}

.navbar-logo {
  color: #fff;
}

.login-form {
  padding: 3em;
  background: #fff;
  height: 100%;
}

.login-page {
  height: 100%;
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  padding: 2vw;
}

.page-header-title {
  margin: 0;
}

.page-body {
  padding: 0 2vw 2vw 2vw;
}

.mat-footer-row {
  font-weight: 500;
}
