.action-bar {
  padding: 0;
}
.action-bar-title {
  font-family: 'GreatVibes-Regular', 'Great Vibes';
  font-size: 36;
  padding-top: 10;
  padding-bottom: 0;
  margin: 0;
  vertical-align: center;
}
