<form [formGroup]="form">
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput placeholder="Weselex sp. z o.o." formControlName="name" />
      <mat-error *ngIf="form.get('name').hasError('required')">
        Pole nie może pozostać puste.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rodzaj usługi</mat-label>
      <mat-select formControlName="serviceType">
        <mat-option *ngFor="let option of serviceTypeOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('serviceType').hasError('required')">
        Pole nie może pozostać puste.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nr telefonu</mat-label>
      <input matInput formControlName="phoneNumber" />
      <mat-error *ngIf="form.get('phoneNumber').hasError('required')">
        Pole nie może pozostać puste.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Adres</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>
  </div>
</form>
