<div id="login-card-wrapper" fxLayout fxLayout.xs="column" fxFill fxLayoutAlign="center center">
  <mat-card fxFlex.lg="30%" fxFlex.md="50%" fxFlex.sm="70%" fxFlex.xs="100%">
    <mat-card-header class="text-center">
      <div fxLayout fxFill fxLayoutAlign="center center">
        <div mat-card-avatar><mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon></div>
        <mat-card-title>Zaloguj się</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content [formGroup]="form" fxLayout="column" fxFill>
      <mat-form-field appearance="standard" fxFill>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" required />
        <ng-container *ngIf="form.get('email') as ctrl">
          <mat-error *ngIf="ctrl.touched && ctrl.invalid">{{ 'Ble' }}</mat-error>
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFill>
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName" required />
        <ng-container *ngIf="form.get('firstName') as ctrl">
          <mat-error *ngIf="ctrl.touched && ctrl.invalid">{{ 'Ble' }}</mat-error>
        </ng-container>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFill>
        <mat-label>Hasło</mat-label>
        <input matInput type="password" formControlName="password" required />
        <ng-container *ngIf="form.get('password') as ctrl">
          <mat-error *ngIf="ctrl.touched && ctrl.invalid">{{ 'Bla' }}</mat-error>
        </ng-container>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!form.valid" (click)="onSubmit()">Zaloguj się</button>
      <button mat-button>Zarejestruj się</button>
    </mat-card-actions>
  </mat-card>
</div>
