<div id="login-card-wrapper" fxLayout fxLayout.xs="column" fxFill fxLayoutAlign="center start">
  <mat-card fxFlex.lg="30%" fxFlex.md="50%" fxFlex.sm="70%" fxFlex.xs="100%">
    <mat-card-header class="text-center">
      <div fxLayout fxFill fxLayoutAlign="center center">
        <div mat-card-avatar><mat-icon aria-hidden="false">playlist_add</mat-icon></div>
        <mat-card-title>Rejestracja</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content [formGroup]="form" fxLayout="column" fxFill>
      <mat-form-field appearance="standard" fxFill>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="form.get('email').hasError('required')">
          Pole nie może pozostać puste.
        </mat-error>
        <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
          Email musi być wpisany w poprawnym formacie.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFill>
        <mat-label>Imię</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error *ngIf="form.get('firstName').hasError('required')">
          Pole nie może pozostać puste.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard" fxFill>
        <mat-label>Hasło</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="form.get('password').hasError('required')">
          Pole nie może pozostać puste.
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="primary-btn" (click)="onSubmit()">Zarejestruj się</button>
      <button mat-button routerLink="/auth/login">Przejdź do logowania</button>
    </mat-card-actions>
  </mat-card>
</div>
