<div fxLayout="column" [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="title" placeholder="Nazwa" />
    <mat-error *ngIf="form.get('title').hasError('required')">
      Pole nie może pozostać puste.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Wybierz datę" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.get('date').hasError('required')">
      Pole nie może pozostać puste.
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Kolor</mat-label>
    <mat-select formControlName="color">
      <mat-option *ngFor="let option of colorOptions" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('color').hasError('required')">
      Pole nie może pozostać puste.
    </mat-error>
  </mat-form-field>
</div>
