@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.app-title {
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.app-title-link {
  text-decoration: none;
  color: #f891a0;
}

.mat-toolbar {
  background: rgba(248, 248, 245, 0.7);
  backdrop-filter: blur(1px);
  border-bottom: 2px solid rgba(248, 248, 245, 1);
}

.menu-item-icon {
  padding-right: 0.5em;
}

.spacer {
  flex: 1 1 auto;
}

button {
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
button:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.9);
}
