<mat-toolbar>
  <a class="app-title-link" [routerLink]="['/']"><h1 class="app-title">Wedding Planner</h1></a>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn() | async">
    <button mat-flat-button [routerLink]="item.route" *ngFor="let item of menuItems">
      <mat-icon class="menu-item-icon"> {{ item.icon }}</mat-icon
      >{{ item.label }}
    </button>
    <span>|</span>
    <button mat-flat-button (click)="logOut()">
      <mat-icon class="menu-item-icon">power_settings_new</mat-icon>Wyloguj
    </button>
  </ng-container>
  <button mat-flat-button [routerLink]="['auth/login']" *ngIf="!(isLoggedIn() | async)">
    <mat-icon class="menu-item-icon">power_settings_new</mat-icon>Logowanie
  </button>
</mat-toolbar>
